

@model HelpDesk.ViewModel.RoleViewModel
@{
    ViewData["Title"] = "Assign Menu To Role";
}
<link href="~/assets/css/multiselect-dropdown-material.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Role Info</h4>
                <p class="card-category">Assign Menu To  @Model?.RoleName </p>
            </div>
            <div class="card-body">
                <form asp-controller="Roles" asp-action="AssignMenuToRole" role="form" method="post">
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="col-md-6 offset-3">
                            <div class="form-group pull-center">

                                <select asp-for="MenuIds" asp-items="Model.MenusDD" multiple class="selectpicker" data-style="btn btn-primary" title="Select Menus"></select>
                                <span asp-validation-for="RoleName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Create</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}




