@model HelpDesk.Models.Project

@{
    ViewData["Title"] = "Create Project";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Project Info</h4>
                <p class="card-category">Create  Project</p>
            </div>
            <div class="card-body">
                <form  asp-action="Create" role="form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Project Name</label>
                                <input type="text" class="form-control" asp-for="ProjectName">
                                <span asp-validation-for="ProjectName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Create</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

